# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data & artifacts
data/raw/*
data/processed/*
checkpoints/*
logs/*

# Keep directory placeholders
!data/raw/.gitkeep
!data/processed/.gitkeep
!checkpoints/.gitkeep
!logs/.gitkeep

# OS
.DS_Store
